.marker-cluster {
	background-clip: padding-box;
	border-radius: 50%;
}

/*Center of the circle*/
.marker-cluster div {
	width: 80%;
	height: 80%;
	margin-left: 10%;
	margin-top: 10%;
	text-align: center;
	border-radius: 50%;
	display: table;
	font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
}
.marker-cluster span {
	display: table-cell;
	vertical-align: middle;
}
